body {
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f5fdfb;
  color: #2e4e3f;
}

header {
  background-color: #3dbb8b;
  color: white;
  padding: 40px 20px;
  text-align: center;
}

h1 {
  margin: 0;
  font-size: 2.2em;
}

p {
  margin: 0.5em 0;
}

main {
  padding: 20px;
}

section {
  margin-bottom: 30px;
  padding: 20px;
  background-color: #e1f7ed;
  border-left: 6px solid #3dbb8b;
  border-radius: 8px;
}

h2 {
  color: #246a56;
  margin-bottom: 10px;
}

ul {
  list-style: square;
  padding-left: 21px;
}

a {
  color: #15795b;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

footer {
  background-color: #3dbb8b;
  color: white;
  text-align: center;
  padding: 15px;
}
